body {
  background-color: #ddcf86;
}

ul {
  list-style: none;
}

.logo {
  color: #386451;
  font-family: "Inter";
  font-weight: 700;
  font-size: 80px;
  line-height: 1.5;
  text-decoration: none;
}

.lifehouse {
  color: #386451;
  font-weight: 700;
}

.hero > p {
  color: #386451;
  font-size: 20px;
  line-height: 1,02em;
  letter-spacing: 2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.