body {
  background-color: #ddcf86;
}

ul {
  list-style: none;
}
/*Logo section*/
.logo {
  color: #386451;
  font-family: "Inter";
  font-weight: 700;
  font-size: 80px;
  line-height: 1.5;
  text-decoration: none;
}
/*main menu*/
.menu {
  color: #386451;
  font-size: 30px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
/*album's menu*/
.album-menu {
  color: #386451;
  font-size: 40px;
  font-weight: 700;
  font-family: "Lobster", sans-serif;
}
/*hero*/

.lifehouse {
  color: #386451;
  font-weight: 700;
  font-size: 36px;
}

.hero > p {
  color: #386451;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 1;
  font-family: "League Gothic", sans-serif;
}

/*footer*/
